* {
  padding: 0;
  margin: 0;
  font-family: Avenir Next, sans-serif;
}

:root {
  --primary-color: #2dd4bf;
  --primary-text: #ffffff;
  --secondary-color: linear-gradient(22deg, #06b6d4, #0369a1);
  --text-main: #0f172a;
  --text-accent: var(--text-main);
  --text-btn: var(--primary-color);
  --text-btn-full: #ffffff;
  --bg-main: #f8fafc;
  --bg-accent: #e2e8f0;
  --bg-btn: #ffffff;
  --bg-btn-full: linear-gradient(22deg, #06b6d4, #0369a1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #0369a1;
    --text-main: #ffffff;
    --text-accent: #e2e8f0;
    --bg-main: #334155;
    --bg-accent: #64748b;
  }
}

body {
  color: var(--text-main);
  background-color: var(--bg-main);
}

.topbar {
  color: #ffffff;
  background-image: var(--secondary-color);
  height: 64px;
  padding: 0 64px;
}

header {
  color: var(--primary-text);
  background-color: var(--primary-color);
  padding: 64px;
}

.section {
  padding: 64px;
}

/*****************************************/

button {
  color: var(--text-btn);
  background-color: var(--bg-btn);
  padding: 8px;
  height: 64px;
  min-width: 192px;
  border-radius: 12px;
  border: none;
  outline: none;
}

.btn-full {
  color: var(--text-btn-full);
  background-image: var(--bg-btn-full);
}

.discord {
  background-color: #6366f1;
}

button > a {
  font-size: 16px;
  color: var(--text-btn)
  text-decoration: none;
}
.btn-full > a {
  color: var(--text-btn-full);
}
.discord > a {
  color: #ffffff;
}

/*****************************************/

img {
  border-radius: 12px;
}

.logo {
  border-radius: 16px;
}

.main-logo {
  border-radius: 32px;
  height: 192px;
  width: 192px;
}
